<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.v.train.infrastructure.dao.member.IMemberMapper">

    <resultMap id="BaseResultMap" type="com.v.train.infrastructure.po.member.MemberPO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `member_id`, `mobile`, `create_time`, `update_time`
    </sql>

</mapper>